// imports
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

// global color variables
$blue-crayola: #347AF4ff;
$light-cyan: #5188E3;
$indigo-dye: #103A65ff;
$yale-blue: #1C4982ff;
$french-sky-blue: #8FB7F2ff;
$dark-blue:  #092F63;

// srolling behavior
html {
	scroll-behavior: smooth;
}

// global styling
body {
	font-family: 'Inconsolata', monospace;
	font-weight: 300;
	text-decoration: none;
	margin: 0;
	padding: 0;
	background-color:$french-sky-blue;
}

// Front page
// Navbar construction
nav {
	z-index: 999;
	position: fixed;
	top: 5px;
	left: 0;
	width: 100vw;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: 1s;
	font-size: 25px;
}

nav .logo {
	list-style: none;
	text-decoration: none;
	float: left;
	margin: 0;
	color: white;
	visibility : hidden;
}

nav ul {
	float: right;
	margin: 2px;
	display: flex;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	padding: 2px 25px;
	text-transform: uppercase;
	font-weight: bold;
	transition: .6s;
	color: white;
}

// Front page navbar styling
nav ul li a.active,
nav ul li a:hover{
	background: $yale-blue;
	border-radius: 25px;
	transition: .5s;
}

// Sticky page navbar styling
nav.sticky ul li.active,
nav.sticky ul li a:hover{
	background: $light-cyan;
	border-radius: 25px;
	transition: .5s;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $indigo-dye;
	height: 60px;
}
.sticky + .content {
	padding-top: 75px;
}
// End of navbar construction

.title {
	margin: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 64px;
	color: white;
	animation: fadeIn 5s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

#backgound-video {
	background-attachment: fixed;
	min-width: 100%; 
	min-height: 100%;   
}

// 
// End of front page
// 

// 
// About page
// 
#about_page {
	display: inline-block;
	padding-top: 10px;
	width: 100vw;
	height: 800px;
	text-align: center;
	background-color: $yale-blue;
}

.about_title {
	text-align: center;
	font-size: 48px;
	font-weight: 400;
	color: white;
}

#about_page div {
	font-size: 24px;
	color: white;
}

#slideshow {
	position: relative;
	width: auto;
	margin: auto;
}

.text {
	padding: 10px 12px;
	bottom: 20px;
	width: 100%;
	text-align: center;
	font-size: 25px;
	position: absolute;
}

.Images {
	display: none;
	position: relative;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	// width: auto;
	color: white;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.prev{
	left: 0;
	margin-left: 25%;
}
.next {
	right: 0;
	margin-right: 25%;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.5);
}

.slide_images {
	margin: 0 auto;
	width: 1000px;
	height: 500px;
}
.fade {
	animation-name: fade;
	animation-duration: 1s;
}
// 
// End of about me page
// 
// 
// Start of portfolio page
// 
#port_page {
	display: inline-block;
	padding: 55px;
	margin: 0;
	height: 600px;
	width: 100%;
}

.port_title {
	margin: auto;
	text-align: center;
	font-size: 48px;
	font-weight: 400;
	color: white;
}

.port_grid {
	padding-top: 100px;
	display: grid;
	grid-template-columns: 350px 350px 350px;
	grid-gap: 1rem;
	justify-content: space-evenly;
	top: 50%;
	margin: 0 auto;
}

.column_info {
	cursor: pointer;
	position: relative;
	background-color: $blue-crayola;
	width: 350px;
	height: 350px;
	border-radius: 30%;
	border-style: solid;
	border-color: black;
}

.column_info:hover {
	background-color: rgba(0,0,0,0.8);
	transition: background-color 0.3s ease;
}

.fa-graduation-cap, .fa-briefcase, .fa-code {
	position: relative;
	top: 30%;
	left: 50%;
	transform: translate(-50%);
	cursor: pointer;
	font-size: 40px;
	text-align: center;
}
.fa-graduation-cap:hover, .fa-briefcase:hover, .fa-code:hover {
	color: white;
	transition: color 0.5s ease;
}


.modal_experience, .modal_education, .modal_projects {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100vh;
    width: 100vw;
	top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.modal_experience.show, .modal_education.show, .modal_projects.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    position: fixed;
    background-color: #fff;
	text-align: center;
    padding: 50px 50px;
	border-radius: 20px;  
    width: 500px;
    height: 50%;
    max-width: 100%;
    z-index: 5;
}
#close_projects, #close_education, #close_experience {
    position: absolute;
    top: 5%;
    left: 90%;
    content: "x";
    
  }
  #close_projects:hover, #close_education:hover, #close_experience:hover {
    cursor: pointer;
    opacity: 1;
  }
  #close_projects:before, #close_education:before, #close_experience:before,
    #close_projects:after, #close_education:after, #close_experience:after {
		height: 35px;
		width: 5px;
		position: absolute;
    left: 90%;
    top: 5%;
    content: ' ';
    background-color: rgb(142, 142, 142);
  }
  #close_projects:before, #close_education:before, #close_experience:before {
    transform: rotate(45deg);
  }
  #close_projects:after, #close_education:after, #close_experience:after {
    transform: rotate(-45deg);
  }
.modal h1  {
    margin: 0;
}


@keyframes fade {
    from {
        opacity: .4;
    } to {
        opacity: 1;
    }
}


#contact_page {
	display: inline-block;
	padding: 60px;
	margin: 0;
	height: 300px;
	width: 100%;
	background: url("/assets/image-6.jpg");
	background-attachment: fixed;
	background-position:center;
}

.contact_title {
	text-align: center;
	font-size: 48px;
	font-weight: 400;
	color: white;
}


.contact_container {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-gap: 1rem;
	justify-content: space-evenly;
	margin: 0 auto;
}

.social_item {
	margin: 10px;
	color: white;
	height: 200px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	background-color: rgba(35, 43, 43, .9);
}

.social_item .contact_action {
	color: $blue-crayola;
}

i {
	color: white;
}

.social_item a {
	list-style: none;
	text-decoration: none;
	color: $light-cyan;
}
